@charset "utf-8";
/* CSS Document */
/* 总的样式 */
*{margin:0;
	padding:0;
}

/* 头部 */
.header {
	height:110px;
	background-image:url(../images/register/headbg.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
}

.logo-container {
	width:1210px;
	margin:auto;
}


.logo {
	display:block;
	width:160px;
	height:50px;
	margin-top:32px;
	float:left;
}
.logo a{color:#000;
	font-size:30px;
	text-decoration:none;}
.logo-title {
	height:34px;
	line-height:34px;
	float:left;
	margin-top:34px;
	margin-left:25px;
	border-left:1px solid #ccc;
	padding-left:25px;
	font-size:16px;
}

.has-account {
	float:right;
	margin-top:55px;
	color:#ccc;
	font-size:16px;
}
.has-account a {
	color:#333;
}

/* 中间 */
.contianer{width:1024px;
	height:650px;
	margin:0 auto;
	margin-top:20px;
	border-bottom:1px solid #eee;
	position:relative;
}
/* 中间的注册页面 */
.register{width:600px;
	border-right:1px solid #eee;}
.register form{width:400px;
	margin:0 auto;}
.register-info{width:400px;
	background:#fff;
	border:1px solid #eee;
	color:#666;
	font-size:14px;
	margin-bottom:30px;
	position:relative;}
.register-info label{
	height:50px;
	width:80px;
	display:block;
	line-height:50px;
	padding-left:15px;}
.register-info input{border:none;
	width:250px;
	height:50px;
	color:#999;
	text-indent:5px;
	font-size:14px;
	background:#fff;
	position:absolute;
	top:0;
	left:100px;}
.register-info span{position:absolute;
	bottom:-24px;
	left:0;
	color:#999;
	font-size:12px;
	display:none;}
.register-info span i{width:16px;
	height:16px;
	background:url(../images/register/icon.png);
	display:inline-block;
	float:left;
	margin-right:10px;
	background-position:0px 70px;
}
.register-info span em{float:left;}
.register-info span.reg-error i{
	background-position:-17px 70px;
}
.register-info span.reg-success i{
	background-position:0 53px;
}



.register form p{font-size:12px;}
.register form button.reg{width:400px;
	height:50px;
	background:#000;
	border:none;
	color:#fff;
	margin-top:30px;
	font-size:16px;}
.regb{width:400px;
	height:50px;
	background:#999;
	border:none;
	color:#fff;
	margin-top:30px;
	font-size:16px;}
.mobile label{border-right:1px solid #eee;}
.mobile label a{width:15px;
	height:15px;
	background:red;
	display:block;
	position:absolute;
	top:16px;
	left:78px;
	background:url(../img/icon.png) -2px -151px;}
.identifying input{width:200px;}
.identifying button,.identifying img{width:100px;
	height:50px;
	position:absolute;
	top:0;
	left:300px;
	font-size:14px;
	background:#eee;
	color:#000;
	border:none;}

	
/* 中间的右边部分 */
.contianer-right{width:210px;
	position:absolute;
	top:0;
	left:700px;}
.contianer-right-box a{width:170px;
	height:80px;
	display:block;
	color:#666;
	margin:40px 0 0 30px;
	font-size:14px;
	text-decoration:none;}
.contianer-right-box em{width:30px;
	height:30px;float:left;
	display:inline-block;
	background:url(../images/register/icon.png) 0 -50px;}
.contianer-right-box span{width:120px;
	margin:6px 0 0 20px;
	display:inline-block;
	float:left;}
.em-bottom{background-position:-50px -50px !important;
	margin-top:10px;}
.a-border{border-bottom:1px solid #ccc;}


/* 底部 */
footer{height:100px;
	margin-top:20px;
}
.footer{width:1024px;
	height:100px;
	margin:0 auto;}
.footer ul{width:1000px;
	height:50px;
	display:block;
	margin:0 auto;}
.footer ul li{float:left;
	list-style:none;
	font-size:12px;
	width:79px;
	padding:0 5px 0 5px;
	margin-top:10px;
	text-align:center;
	border-right:1px #999 solid;
}
.footer ul li a{color:#999;
	text-decoration:none;
}
.footer p{text-align:center;
	color:#999;
	font-size:12px;
}

/*注册认证提交错误提醒*/
#sub{
	width:200px;
	height:50px;
	background:#fff;
	z-index:10000;
	position:absolute;
	left:50%;
	color:#666;
	font-size:16px;
	line-height:50px;
	text-align:center;
	display:none;
}

